/* Styles Reset */
#youtubecontrolsDashboardDeck div, #youtubecontrolsDashboardDeck span, #youtubecontrolsDashboardDeck h1, 
#youtubecontrolsDashboardDeck h2, #youtubecontrolsDashboardDeck h3, #youtubecontrolsDashboardDeck h4, 
#youtubecontrolsDashboardDeck h5, #youtubecontrolsDashboardDeck h6, #youtubecontrolsDashboardDeck p, 
#youtubecontrolsDashboardDeck a, #youtubecontrolsDashboardDeck img, #youtubecontrolsDashboardDeck b, 
#youtubecontrolsDashboardDeck u, #youtubecontrolsDashboardDeck i, #youtubecontrolsDashboardDeck ol, 
#youtubecontrolsDashboardDeck ul, #youtubecontrolsDashboardDeck li
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#youtubecontrolsDashboardDeck {
	line-height: 1;
}
#youtubecontrolsDashboardDeck ol, #youtubecontrolsDashboardDeck ul {
	list-style: none;
}
#youtubecontrolsDashboardDeck blockquote, #youtubecontrolsDashboardDeck q {
	quotes: none;
}
#youtubecontrolsDashboardDeck blockquote:before, #youtubecontrolsDashboardDeck blockquote:after,
#youtubecontrolsDashboardDeck q:before, #youtubecontrolsDashboardDeck q:after {
	content: '';
	content: none;
}
/* End Styles Reset */

#youtubecontrolsOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 10000;
}

#youtubecontrolsDashboardDeck {
	list-style-type: none;
	width: 100%;
	text-align: center;
}

#youtubecontrolsDashboardDeck > li {
	position: relative;
	-webkit-transition: 300ms;
	display: inline-block;
	width: 250px;
	height: 300px;
	background: rgba(226, 226, 226, 0.9);
	box-shadow: 0 0 10px #C0C0C0;
	border-radius: 10px;
	margin: 20px;
}

#youtubecontrolsDashboardDeck > li > div.selectedOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: rgba(69, 210, 255, 0.4);
	z-index: 1000000;
	border-radius: 10px;
}

#youtubecontrolsDashboardDeck > li.shrinked {
	-webkit-transform: scale(0, 0);
}

#youtubecontrolsDashboardDeck > li > span.cardItemsRow {
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	font-size: 15px;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader {
	background-size: 100% !important;
	width: 100%;
	height: 90px;
	text-align: center;
	display: block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader h3 {
	color: #fff !important;
	text-shadow: 0px 0px 5px #000 !important;
	font-weight: bold !important;
}

/* Progress bar */
#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemProgressBar {
	position: absolute;
	width: 100%;
	left: 0;
	top: 98px;
	-webkit-appearance: none;
	background-color: #F00;
	height: 2px;
	transition: 200ms;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemProgressBar:focus {
	outline: 0;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemProgressBar::-webkit-slider-thumb {
	-webkit-appearance: none;
    position: relative;
    top: 0;
    z-index: 1;
	width: 8px;
	height: 2px;
	background: #FFF;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemProgressBar:hover {
	height: 10px;
	top: 90px;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemProgressBar:hover::-webkit-slider-thumb {
	height: 14px;
	width: 14px;
	border-radius: 7px;
	background: -webkit-radial-gradient(circle, #666, #fff, #fff, #fff);
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemProgressBar:hover::-webkit-slider-thumb:hover {
	background: -webkit-radial-gradient(circle, #F00, #fff, #fff, #fff);
}
/* End Progress Bar */

/* Volume bar */
#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemVolumeBar {
	position: absolute;
	width: 80px;
	left: -40px;
	top: 50px;
	-webkit-appearance: none;
	background-color: #F00;
	height: 2px;
	transition: 200ms;
	-webkit-transform: rotate(-90deg);
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemVolumeBar:focus {
	outline: 0;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemVolumeBar::-webkit-slider-thumb {
	-webkit-appearance: none;
    position: relative;
    top: 0;
    z-index: 1;
	width: 8px;
	height: 2px;
	background: #FFF;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemVolumeBar:hover {
	height: 10px;
	left: -35px;
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemVolumeBar:hover::-webkit-slider-thumb {
	height: 14px;
	width: 14px;
	border-radius: 7px;
	background: -webkit-radial-gradient(circle, #666, #fff, #fff, #fff);
}

#youtubecontrolsDashboardDeck > li span.ytcDashboardItemHeader input.ytcDashboardItemVolumeBar:hover::-webkit-slider-thumb:hover {
	background: -webkit-radial-gradient(circle, #F00, #fff, #fff, #fff);
}
/* End Volume Bar */

/* Buttons */

#youtubecontrolsCloseSelectedTabsBtn {
	color: #DADADA;
	padding: 5px;
	text-decoration: none;
	box-shadow: #18C6F1 0px 0px 5px;
	border-radius: 5px;
	background: #000;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display:none;
}

#youtubecontrolsCloseSelectedTabsBtn:hover {
	box-shadow: #18C6F1 0px 0px 10px;
}

#youtubecontrolsCloseSelectedTabsBtn:active {
	background: #252525;
}

#youtubecontrolsDashboardDeck > li a.ytcDashboardItemFocusTabBtn {
	background: url('chrome-extension://__MSG_@@extension_id__/images/focus_button.png');
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	cursor: pointer;
	margin: auto;
}

#youtubecontrolsDashboardDeck > li a.ytcDashboardItemFocusTabBtn:hover {
	box-shadow: 0px 0px 5px #18C6F1;
	background-color: #4AD4FF;
}

#youtubecontrolsDashboardDeck > li a.ytcDashboardItemCloseTabBtn {
	position: absolute;
	background: url('chrome-extension://__MSG_@@extension_id__/images/close_button.png');
	display: block;
	border-radius: 10px;
	box-shadow: #8D8D8D 0px 0px 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	top: -10px;
	left: 240px;
}

#youtubecontrolsDashboardDeck > li a.ytcDashboardItemCloseTabBtn:hover {
	box-shadow: #FFF 0px 0px 10px;
}

#youtubecontrolsDashboardDeck ul.ytcControls {
	list-style-type: none;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0;
	text-align: center;
}

#youtubecontrolsDashboardDeck ul.ytcControls li {
	display: inline-block;
	box-shadow: 0 0 10px #000;
	margin: 0 10px;
	cursor: pointer;
}

#youtubecontrolsDashboardDeck ul.ytcControls li:hover {
	box-shadow: 0 0 10px #18C6F1;
}

#youtubecontrolsDashboardDeck ul.ytcControls li.ytcPlaylistPrev {
	width: 36px;
	height: 36px;
	margin: 6px 10px !important;
	border-radius: 18px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/prev_button.png');
}

#youtubecontrolsDashboardDeck ul.ytcControls li.ytcPlaylistNext {
	width: 36px;
	height: 36px;
	margin: 6px 10px !important;
	border-radius: 18px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/next_button.png');
}

#youtubecontrolsDashboardDeck ul.ytcControls li.ytcPause {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/pause_button.png');
	display: none;
}

#youtubecontrolsDashboardDeck ul.ytcControls li.ytcPlay {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/play_button.png');
}

#youtubecontrolsDashboardDeck ul.ytcControls li a {
	display: block;
	width: 100%;
	height: 100%;
}
/* End Buttons */