#youtubecontrolsOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 10000;
}

#youtubecontrolsDashboardItemList {
	list-style-type: none;
	width: 100%;
	text-align: center;
}

#youtubecontrolsDashboardItemList > li {
	display: inline-block;
	width: 250px;
	height: 300px;
	background: rgba(226, 226, 226, 0.9);
	box-shadow: 0 0 10px #C0C0C0;
	border-radius: 10px;
	margin: 10px 20px;
}

#youtubecontrolsDashboardItemList > li span.ytcDashboardItemHeader {
	background-position: center;
	background-size: 100%;
	width: 100%;
	height: 90px;
	padding-top: 10px;
	text-align: center;
	display: block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#youtubecontrolsDashboardItemList > li span.ytcDashboardItemHeader h3 {
	color: #fff;
	text-shadow: 0px 0px 5px #000;
}

#youtubecontrolsDashboardItemList > li a.ytcDashboardItemFocusTabBtn {
	background: url('chrome-extension://__MSG_@@extension_id__/images/focus_button.png');
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	cursor: pointer;
	margin: 20px auto;
}

#youtubecontrolsDashboardItemList > li a.ytcDashboardItemFocusTabBtn:hover {
	box-shadow: 0px 0px 5px #18C6F1;
	background-color: #4AD4FF;
}

#youtubecontrolsDashboardItemList ul.ytcControls {
	list-style-type: none;
	width: 100%;
	margin: 10px 0px 0px 0px;
	padding: 0;
	text-align: center;
}

#youtubecontrolsDashboardItemList ul.ytcControls li {
	display: inline-block;
	box-shadow: 0 0 10px #000;
	margin: 0 10px;
	cursor: pointer;
}

#youtubecontrolsDashboardItemList ul.ytcControls li:hover {
	box-shadow: 0 0 10px #18C6F1;
}

#youtubecontrolsDashboardItemList ul.ytcControls li.ytcPlaylistPrev {
	width: 36px;
	height: 36px;
	margin: 6px 10px !important;
	border-radius: 18px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/prev_button.png');
}

#youtubecontrolsDashboardItemList ul.ytcControls li.ytcPlaylistNext {
	width: 36px;
	height: 36px;
	margin: 6px 10px !important;
	border-radius: 18px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/next_button.png');
}

#youtubecontrolsDashboardItemList ul.ytcControls li.ytcPause {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/pause_button.png');
	display: none;
}

#youtubecontrolsDashboardItemList ul.ytcControls li.ytcPlay {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-position: center !important;
	background: url('chrome-extension://__MSG_@@extension_id__/images/play_button.png');
}

#youtubecontrolsDashboardItemList ul.ytcControls li a {
	display: block;
	width: 100%;
	height: 100%;
}